hello-jaxb/src/test/xsd/XMLSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="helloRequest">
    <xs:sequence>
      <xs:element name="UserName" type="xs:string"/>
      <xs:element name="RequestCode" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

